body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  border: 2px solid black;
  width: 250px;
  text-align: center;
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: rgb(90, 156, 248);
  color: white;
  border-radius: 0px 5px 5px 0px;
  padding: 5px 10px;
  width: 50px;
  margin: 0;
  border: 0.5px solid black;
}
button:hover {
  background-color: rgb(9, 71, 242);
}

#todoInput {
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  margin: 0;
  display: inline-block;
  border: 0.5px solid lightgrey;
}

#todoList {
  margin: 0 auto;
  padding: 10px;
  border: 2px solid lightgray;
  width: 202px;
  list-style-type: none;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 5px;
}
